<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src=""></script>
    <title>My vue test</title>
</head>
<body>
    <main>
        <template>
            <!--<ul>
                <li v-for="dia in laborales">{{dia}}</li>
            </ul> 
            <ul>
                <li v-for="(tarea, index) in tareas">
                    {{index+1}} - {{tarea.nombre}} <small style="color: red">({{tarea.prioridad}})</small>
                </li>
            </ul>-->
            <ul>
                <li v-for="tarea in tareas">
                    {{tarea}}
                </li>
            </ul>
            <form v-on:submit.prevent="agregarTareas">
                <input type="text" placeholder="Introduce tu tarea"  v-model="nuevaTarea">
                <input type="submit" value="enviar tarea" > 
            </form>
           
            
            <pre>
            {{$data}}
            </pre>
        </template>
    </main>  
 <script src="https://unpkg.com/vue@2.2.6"></script>  
 <script src="main.js"></script> 
 
</body>
</html>
    